<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Podcast Search</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="static/bootstrap-tagsinput.css">
    <link href="static/index.css" rel="stylesheet">
  </head>

  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="#">Podcast Search</a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
        </div><!--/.nav-collapse -->
      </div>
    </nav>

    <div class="container">

      <div class="starter-template">
        <h1>Podcast Search</h1>
      </div>

      <div>
        <form class="form-inline" method="POST">
{% for chunked in words %}
          <div class="btn-group" role="group">
{% for word in chunked %}
            <span style="margin-left:10px">
              <input class="btn btn-default" type="submit" name="selected" value="{{ word }}">
            </span>
{% endfor %}
          </div>
{% else %}
          <input type="text" name="word" class="form-control" id="inputWord" placeholder="Word" value="{{ word }}">
          <input class="btn btn-default" type="submit" value="Search">
{% endfor %}
        </form>
      </div>


      <hr/>

      <div>
        <table class="table table-striped">
          <tr>
            <tr>
              <td>Title</td>
              <td>duration</td>
              <td>published</td>
              <td>contributors</td>
            </tr>
          </tr>
{% for episode in episodes %}
          <tr>
            <td>
              <a href="{{ episode['episode_url'] }}">{{ episode['title'] }}</a>
            </td>
            <td> {{ episode['duration'] }} </td>
            <td> {{ episode['published'] }} </td>
            <td> {{ episode['contributors'] }} </td>
          </tr>
{% endfor %}
        </table>
      </div>

    </div><!-- /.container -->

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="static/bootstrap-tagsinput.min.js"></script>
  </body>
</html>
